<!DOCTYPE html>

{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



</head>
<body>

{%block content%}
<i><b>result</b></i>: {{result}}

{%endblock %}

</body>
</html>