<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tanvir</title>


</head>
<body bgcolor="Gray" style="color:white;">
    {%block content %}

    {% endblock %}

</body>
</html>