<!DOCTYPE html>

{% extends 'base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>


</head>
<body>
<h1>hi , this is a list of name</h1>
{% block content%}
<ol>
    <li>{{name1 }} </li>
    <li>{{name2 }} </li>
    <li>{{name3 }} </li>
</ol>
<br>
<form action="add">
    Enter 1st Number: <input type="text" name="num1"> <br><br>
    Enter 2nd Number: <input type="text" name="num2"> <br><br>
    <input type="submit" value="sum">
</form>

{% endblock %}


</body>
</html>