<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>

     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Please Enter Registered Email and Password to Log In </h1>
                    <br>
                    <br>

                </div>
            </div>

            <div class="row">

                <div class="col-4">

                </div>

                <div class="col-4">
                     <form action="login" method="post" class="form">
                            {% csrf_token %}

                         <input type="text" class="form-control" name="username" placeholder="Enter Username">
                         <input type="password" class="form-control" name="password" placeholder="Enter a Password"><br>

                            <input type="submit" value="Log In" class="btn btn-info btn-block ">


                        </form>
                    {% for i in messages %}
                    <div style="color:red;"><h3> {{i}} </h3></div>
                    {% endfor %}
                    <br>

                    <a href="register" class="btn btn-secondary">If You don't have an account, Create Your Account </a>

                </div>

                <div class="col-4">

                </div>

                </div>

            </div>


</body>
</html>