<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registation</title>

     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>
        <div class="container">
             <div class="row">
                <div class="col">

                </div>
                 <div class="col"><br>
                    <h5>Already have account? Then Log In</h5>
                </div>
                 <div class="col"><br>
                    <a href="login" class="btn btn-primary ">Log In </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Please Enter Your Information to Register  </h1>
                    <br>
                    <br>

                </div>
            </div>

            <div class="row">

                <div class="col-4">

                </div>

                <div class="col-4">
                     <form action="register" method="post" class="form">
                            {% csrf_token %}
                            <input type="text" class="form-control" name="first_name" placeholder="First Name" required><br>
                            <input type="text" class="form-control" name="last_name" placeholder="Last Name" required><br>
                            <input type="text" class="form-control" name="username" placeholder="Enter Username" required><br>
                            <input type="email" class="form-control" name="email" placeholder="Enter a Email" required><br>
                            <input type="password" class="form-control" name="password1" placeholder="Enter a Password" required><br>
                            <input type="password" class="form-control" name="password2" placeholder="Comfirm Your Password" required><br>
                            <input type="submit" value="Register" class="btn btn-primary ">


                        </form>
                    {% for i in messages %}
                    <div style="color:red;"><h3> {{i}} </h3></div>
                    {% endfor %}

                </div>

                <div class="col-4">

                </div>

                </div>

            </div>


</body>
</html>